* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: 100%;
    padding: 115px 15px;
    margin: 0 auto;
}