@import 'layout.scss';
@import 'variables.scss';
@import 'btn.scss';
@import 'mixin.scss';

@include phabletLandscape {
    .header-nav {
        height: 100px;
    }

    .slogan .slogan__title {
            @include font($font-black, $fsize-medium, $color-basic, none);
        }
    
    .slogan .slogan__subtitle {
        max-width: 100%;
        padding: 15px 0;
        @include font($font-regular, 14px, rgba(255, 255, 255, 0.8), none);
    }

    .accent-text {
        display: block;
    }
}

@include tabletLandscape {
    .slogan .slogan__title {
        @include font($font-black, $fsize-medium, $color-basic, none);
    }

    .slogan .slogan__subtitle {
        max-width: 100%;
        padding: 15px 0;
        @include font($font-regular, 14px, rgba(255, 255, 255, 0.8), none);
    }
}


