@import 'layout.scss';
@import 'variables.scss';
@import 'btn.scss';
@import 'mixin.scss';
@import 'toggle.scss';


@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../assets/fonts/CeraPro-Regular.eot');
    src: url('../assets/fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/CeraPro-Regular.woff') format('woff'),
    url('../assets/fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../assets/fonts/CeraPro-Bold.eot');
    src: url('../assets/fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/CeraPro-Bold.woff') format('woff'),
    url('../assets/fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
    font-family: 'Cera Pro Black';
    src: url('../assets/fonts/CeraPro-Black.eot');
    src: url('../assets/fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/CeraPro-Black.woff') format('woff'),
    url('../assets/fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*header*/
.main-header {
    height: 100vh;
    background: url(../assets/img/shevchenko.jpg) 50% no-repeat;
    background-size: cover;

    @include phablet {
        background-position: right;
    }

    @include mobile {
        background-position-x: 75%;
    }

    .container {
        height: 100%;
        padding: 0 15px;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
}

.logo {
    min-width: 80px;

    &__pic {
        width: 100%;
    }
}

.menu-wrapper {
    display: flex;
    align-items: center;

    .menu {
        display: flex;
        align-items: center;
        text-align: center;

        &__item {
            padding: 0 30px;
        }

        &__link {
            position: relative;
            padding-bottom: 10px;
            @include font($font-regular, $fsize-primary, $weight-regular, $color-basic, none);
                    
            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $color-accent;
                visibility: hidden;
                transition: all 0.4s linear;
            }

            &:hover:before {
                visibility: visible;
                width: 40px;
            }
        }
    }
}

@include phablet {
    .header-nav .menu-wrapper {
        display: none;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 130px);
}

.slogan {
    &__title {
        max-width: 50%;
        width: 100%;
        @include font($font-black, 60px, $weight-regular, $color-basic, none);
    }

    &__subtitle {
        padding: 30px 0 60px;
        @include font($font-regular, $fsize-primary, $weight-regular, rgba(255, 255, 255, 0.8), none);
    }
    
    @include tablet {
        .slogan__title {
            padding-top: 40px;
            max-width: 75%;
            font-size: $fsize-title;
        }

        .slogan__subtitle {
            max-width: 75%;
            // font-size: 14px;
        }
    }

    @include phablet {
        .slogan__title {
            padding-top: 40px;
            max-width: 75%;
            font-size: 36px;
        }
    }

    @include mobile {
        .slogan__title {
            max-width: 225px;
            padding-top: 40px;
            font-size: 24px;
        }

        .slogan__subtitle {
            font-size: 14px;
        }
    }
}

/*span*/
.accent-text {
    color: $color-accent;
}
.bold-text {
    font-weight: $weight-bold;
}

.accent-light {
    display: inline-block;
    border-bottom: 2px solid $color-basic;
    padding-bottom: 2px;
    font-size: 26px;
    font-weight: $weight-bold;
}

.question-mark {
    @include font($font-bold, 32px, $weight-regular, #FF0D0D, none);

}

/*MAIN*/

.heading {
    text-align: center;

    &__title {
        padding-bottom: 40px;
        @include font($font-black, $fsize-title, $weight-regular, $color-title, none);

        @include phablet {
            font-size: 22px;
        }
    }

    &__title--light {
        color: $color-basic;
    }

    &__subtitle {
        padding-bottom: 60px;
        @include font($font-regular, $fsize-primary, $weight-regular, $color-title, none);
    }

    &__subtitle--light {
        width: 490px;
        max-width: 100%;
        padding: 0;
        color: $color-basic;
        font-size: 24px;
    }

    &__subtitle-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0 auto;
        max-width: 100%;
        text-align: left;
    }

    &__img {
        float: right;
        transform: translateY(30%);
    }
}

.random {
.container {
    padding-bottom: 0;
}

    .heading__subtitle {
        @include font($font-bold, $fsize-primary, $weight-regular, $color-title, none);
    }
}

.test-wrapper {
    width: 630px;
    max-width: 100%;
    margin: 0 auto;
}
.test-block,
.answer-block {
    padding: 12px 0;
}

.test {
    // position: absolute;/**/
    padding: 25px;
    background: $color-test;
    border-radius: 5px;

    &__question {
        @include font($font-regular, $fsize-primary, $weight-regular, $color-basic, none);
    }

    &__heading {
        padding: 50px 0 25px;
        @include font($font-bold, 24px, $weight-regular, $color-basic, none);
    }

    &__prev-answer {
        padding: 8px 0;
        @include font($font-regular, $fsize-primary, $weight-regular, $color-basic, none);
    }
}

@include mobile {
    .test__question,
    .test__prev-answer,
    .test__heading {
        font-size: 16px;
    }
}

.answer {
    &__item {
        margin: 24px 0;
        padding: 6px;
        background: $color-test;
        border-radius: 5px;
        @include font($font-regular, 20px, $weight-regular, $color-basic, none);
        text-align: center;

        @include mobile {
            font-size: 16px;
        }
    }

    &__item--true {
        background: #00BB40;
    }
    
    &__item--false {
        background: #EE0000;
    }

    &__item:hover {
        cursor: pointer;
    }

}

.list {
    display: flex;
    flex-flow: row wrap;

    .item-container {
        // position: relative;
        width: 100%;
        height: 100%;
    }

    .item-hover-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__title {
        // position: absolute;
        // width: 100%;
        height: 60px;
        padding: 20px;
        transform: translateY(-100%);
        @include font($font-bold, $fsize-primary, $weight-regular, $color-basic, none);
        text-align: center;
        border-radius: 5px;
        background: $color-block;

        @include phablet {
            height: 40px;
            padding: 10px 20px;
        }

        @include mobile {
            font-size: 12px;
        }
    }
    
    &__inner {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 0;
        width: 100%;
        // padding: 20px;
        transform: translateY(-100%);
        @include font($font-regular, $fsize-primary, $weight-regular, $color-basic, none);
        opacity: 0;
        transition: 0.6s linear;

        &--main {
            padding: 20px 100px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex: 1 0 25%;
        max-width: 25%;
        height: 400px;
        padding: 15px;
        transition: all 0.6s linear;

        @include mobile {
            height: 50%;
            padding: 0;
        }

        &--main {
            flex: 50%;
            max-width: 50%;
        }

        @include tablet {
            flex: 50%;
            max-width: 50%;
        }

        @include phablet {
            flex: 100%;
            max-width: 100%;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .item-container:hover .list__img {
      transform: scale(-1, 1);
    }

    &__slogan {
        padding: 10px 0;
        @include font($font-bold, 12px, $weight-regular, $color-basic, none);
        line-height: 21px;
        text-align: center;
    }
}

.item-container:hover .list__inner,
.item-container:active .list__inner,
.item-container:focus .list__inner {
    cursor: pointer;
    top: 0;
    transform: translateY(0);
    height: calc(100% - 30px);
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(169.14deg, rgba(5, 64, 118, 0.6) -21.38%, rgba(31, 142, 243, 0.19) 87.74%);
    opacity: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    transition: 0.6s linear;
}

.item-container:hover ~ .list__inner {
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 100%;

    &__item {
        max-width: 48px;
        max-height: 48px;
        margin: 10px;

        &__link {
            width: 100%;
            height: 100%;
        }
    }
}

/*instructions*/
.instruction {
    position: relative;
    background: url(../assets/img/bgrmain2.jpg) 50% no-repeat;
    background-size: cover;
    overflow: hidden;

    .container {
        width: 1440px;
        max-width: 100%;
    }
}

.instr-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    text-align: center;

    &__img {
        max-width: 320px;

        @include tablet {
            max-width: 200px;
        }

        @include phablet {
            max-width: 80px;
        }
    }

    &__pic {
        width: 100%;
        border-radius: 5px;
    }

    &__desc {
        position: relative;
    }

    &__text {
        position: relative;
        @include font($font-regular, $fsize-title, $weight-regular, $color-basic, none);
        z-index: 2;

        @include tablet {
            font-size: 1.5em;
        }

        @include mobile {
            font-size: 12px;
        }
    }

    &__number {
        position: absolute;
        transform: translate(-50%, -50%);
        top: calc(50% - 5px);
        left: 50%;
        @include font($font-bold, 288px, $weight-regular, rgba(0, 122, 255, 0.7), none);
        z-index: 1;

        @include tablet {
            font-size: 200px;
        }

        @include phablet {
            font-size: 96px;
        }
    }
}

.instr-block--reverse {
    flex-direction: row-reverse;
}


/*footer*/

.features-wrapper {
    padding-top: 60px;
}
.feature {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;

    &__item {
        display: flex;
        justify-content: center;
        width: 1 / 3 * 100%;
    }
}

.footer-nav {
    height: 165px;
    background: $color-block;

    .container {
        padding: 60px 15px;
    }
}

.footer-menu-wrapper {
    display: flex;

    .menu-wrapper {
        width: 100%;
        justify-content: center;
    }

    .menu__link:before {
        background-color: $color-basic;
    }

    @include phablet {
        .menu__item {
            padding: 0;
        }

        .menu__item:first-child {
            display: none;
        }
    }

    @include mobile {
        .menu__link {
            font-size: 10px;
        }
    }
}

.footer-copyright {
    background: $color-title;

    .container {
        padding: 20px 15px;
    }
}
.copyright {
    @include font($font-regular, 14px, $weight-regular, $color-basic, none);
    text-align: center;
}

main {
    overflow: hidden;
}
